<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - CheckMyMood</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/simple-line-icons.min.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
        <div class="container"><button class="navbar-toggler d-none" data-toggle="collapse" data-target="#"></button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav sidebar-nav" id="sidebar-nav">
                    <li class="nav-item sidebar-brand" role="presentation"><a class="nav-link active js-scroll-trigger" href="#page-top">CheckMyMood</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#page-top">Home</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="d-flex masthead" style="background-image: url(&quot;static/img/scents-mood-blog.jpg&quot;);">
        <div class="container my-auto text-center">
            <h1 class="mb-1">What's your mood?</h1>
            <h3 class="mb-5"></h3><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="upload">Check my mood</a>
            <div class="overlay"></div>
        </div>
    </header>
    <section id="about" class="content-section bg-light">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>Your mood is important!</h2>
                    <p class="lead mb-5"><span>Your mood, among other things, determines how you are perceived by others.&nbsp;<br>you can use this test to determine which mood your face radiates. Do you have something big coming up? Like an interview for a new job, or are you getting ready for a date? Check your mood now to see what mood you have!<br></span>
                        <a
                            href="https://unsplash.com/"></a><span></span></p>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="content-section bg-light" style="background-color: #fcfdff;">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>How is your mood calculated?</h2>
                    <p class="lead mb-5"><span>The picture you upload will be scanned and served to our AI. This AI is trained with 57000+ images of people's faces. It then classifies the image depending on what mood it finds on the face. This is done by so called "feature extraction" to determine what kind of mood is depicted on the face. Currently, our model can 92% of the time accuratly determine the mood of the given pictures. The better the face is shown in the picture, the more accurate the AI will be!&nbsp;</span></p>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="content-section bg-light" style="background-color: #fcfdff;">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>What will happen with my picture?</h2>
                    <p class="lead mb-5"><span><br>Absolutely nothing! The picture you upload will only be used by the AI. It is automaticly deleted form our servers. This way your picture will not be found anywhere else on the internet!&nbsp;<br></span></p>
                </div>
            </div>
        </div>
    </section>
            <p class="text-muted mb-0 small">Copyright &nbsp;© CheckMyMood 2018</p>
        </div><a href="#page-top" class="js-scroll-trigger scroll-to-top rounded"><i class="fa fa-angle-up"></i></a></footer>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="static/js/stylish-portfolio.js"></script>
</body>

</html>